html,
body {
  font-family: "Roboto";
  font-style: normal;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
  margin: 0;
}
.header {
  display: flex;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 25px;
  /* NAVY BLUE */
  color: #2e2f42;
}
a {
  text-decoration: none;
  /* NAVY BLUE */
  color: #2e2f42;
}
.logo {
  margin-left: 156px;
  margin-right: 76px;
  display: inline;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
}
.logo-1 {
  color: #4d5ae5;
}

.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* NAVY BLUE */
  color: #2e2f42;
}

.info_contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-right: 116px;
}
.header ul {
  margin: 0;
  display: flex;
  list-style-type: none;
}
.header li {
  margin-right: 40px;
}

.hero-image {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* NAVY BLUE */
  background: #2e2f42;
  padding-top: 188px;
}

h1 {
  /* WHITE */
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */
  text-align: center;
}

.hero-buttonc {
  margin-top: 48px;
  text-align: center;
}

.hero-button {
  outline: none;
  border: none;
  width: 169px;
  height: 56px;
  /* IRIS */
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* WHITE */
  color: #ffffff;
}

/* section1 */

.section1-cont {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.section1-ceil {
  width: 264px;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* SLATE */
  color: #434455;
}

/* section2 */

h2 {
  padding-top: 120px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  text-transform: capitalize;

  /* NAVY BLUE */
  color: #2e2f42;
}

.section2-cont {
  display: flex;
  justify-content: space-between;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}

/* section3 */

.section3-cont {
  margin-top: 120px;
  height: 732px;
  background: #f4f4fd;
}

.team-members {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.team-member {
  width: 264px;
  height: 380px;
  margin-left: 12px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  /* SLATE */
  color: #434455;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* NAVY BLUE */
  color: #2e2f42;
  margin-bottom: 8px;
  margin-top: 32px;
}

figure {
  margin: 0px;
}
